<div fxLayout="row" class="container-master-login animated fadeIn">
    <div fxFlex="30" class="container-login-form" fxLayoutAlign="start center">
        <turnapp-login fxFlex></turnapp-login>
    </div>

    <div fxFlex="70" class="container-login" fxLayout="column">

        <div fxLayoutAlign="space-between center" fxLayoutGap="15px">
            <img src="./assets/login/undraw_Spreadsheet_re_cn18.svg" alt="svg-business" class="img_login">
            <h1 class="text-login">La mejor forma de organizar y gestionar el tiempo de tu empresa</h1>
        </div>

        <div fxLayoutAlign="space-between center">
            <span class="text-span-login">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis non
                repudiandae ducimus, unde
                porro exercitationem sapiente quia amet culpa accusantium consequuntur, expedita ullam distinctio
                doloribus placeat, dolores vel totam. Suscipit.
            </span>
            <img src="./assets/login/undraw_Confirmation_re_b6q5.svg" alt="svg-business" class="img_login">
        </div>
    </div>
</div>