<div fxLayout="column" fxLayoutGap="15px" class="animated fadeIn">
    <mat-card class="mat-elevation-z4">
        <mat-card-title>
            Consulta de empleados
        </mat-card-title>

        <mat-card-content>
            <form [formGroup]="searchEmployeeFrom" (ngSubmit)="searchEmployee()">
                <div fxLayout="row" fxLayoutGap="25px">
                    <mat-form-field fxFlex="25">
                        <mat-label>Código</mat-label>
                        <input matInput formControlName="code">
                    </mat-form-field>

                    <mat-form-field fxFlex="25">
                        <mat-label>Primer nombre</mat-label>
                        <input matInput formControlName="firstName">
                    </mat-form-field>

                    <mat-form-field fxFlex="25">
                        <mat-label>Primer apellido</mat-label>
                        <input matInput formControlName="firstLastname">
                    </mat-form-field>

                    <mat-form-field fxFlex="25">
                        <mat-label>Categoría</mat-label>
                        <mat-select formControlName="category">
                            <mat-option value="TODAS">Todas</mat-option>
                            <mat-option value="VENTAS">Ventas</mat-option>
                            <mat-option value="ASEO">Aseo</mat-option>
                            <mat-option value="ADMIN">Administración</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div fxLayout="row" fxLayoutGap="25px" fxLayoutAlign="end end">
                    <button appHttpDisabled mat-raised-button color="primary" type="submit">
                        Buscar
                    </button>

                    <button appHttpDisabled mat-raised-button type="button" (click)="buildFormSearch()">
                        Limpiar
                    </button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>

    <mat-card class="mat-elevation-z4" fxLayout="column">
        <table mat-table [dataSource]="dataSource">

            <!-- Position Column -->
            <ng-container matColumnDef="code">
                <th mat-header-cell *matHeaderCellDef> Código </th>
                <td mat-cell *matCellDef="let element">
                    <span class="link-primary">
                        {{element.code}}
                    </span>
                </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Nombre </th>
                <td mat-cell *matCellDef="let element"> {{element.firstName }} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="lastname">
                <th mat-header-cell *matHeaderCellDef> Apellido </th>
                <td mat-cell *matCellDef="let element"> {{element.firstLastname}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> Email </th>
                <td mat-cell *matCellDef="let element"> {{element.email}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="category">
                <th mat-header-cell *matHeaderCellDef> Categoría </th>
                <td mat-cell *matCellDef="let element"> {{element.category}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Acciones </th>
                <td mat-cell *matCellDef="let element">
                    <div fxLayout="row" fxLayoutGap="10px">
                        <button appHttpDisabled mat-icon-button color="warn" type="button" matTooltip="Eliminar"
                            (click)="goToDelete(element)">
                            <mat-icon>delete_for_ever</mat-icon>
                        </button>

                        <button appHttpDisabled mat-icon-button color="accent" type="button" matTooltip="Editar"
                            (click)="getItemToEdit(element)">
                            <mat-icon>edit</mat-icon>
                        </button>
                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
            </tr>
        </table>

        <div fxLayoutAlign="center end" *ngIf="length == 0">
            <h4 class="no-data">No hay registros para mostrar.</h4>
        </div>

        <mat-paginator *ngIf="length != 0" [length]="length" [pageIndex]="pageIndex" [pageSize]="pageSize"
            [pageSizeOptions]="pageSizeOptions">
        </mat-paginator>
    </mat-card>
</div>