<mat-card class="mat-elevation-z4">
    <mat-card-title>
        Bienvenidos a TurnApp
    </mat-card-title>
    <br>

    <mat-card-subtitle>
        Registre a sus empleados, gestione sus horarios y mantenga organizado y seguro el tiempo de su empresa.
    </mat-card-subtitle>

    <mat-card-content>
        <div fxLayout="row" fxLayoutGap="20px">
            <button mat-raised-button color="primary">Gestionar empleados</button>
            <button mat-raised-button color="primary">Gestionar horarios</button>
        </div>
    </mat-card-content>
</mat-card>