/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
    padding: 50px;
}

.link-primary {
    color: #283593;
    text-decoration: underline;
    cursor: pointer;
    font-weight: 500;
}
.no-data {
    margin-top: 15px !important;
}
