<form [formGroup]="editEmployeeForm" (ngSubmit)="saveEmployee()">
    <div fxLayout="row" fxLayoutGap="25px">
        <mat-form-field appearance="fill" fxFlex="25"
            [class.mat-form-field-invalid]="hasErrors && editEmployeeForm.get('identificationNumber')?.invalid">
            <mat-label>Número identificación</mat-label>
            <input matInput formControlName="identificationNumber" required>
        </mat-form-field>

        <mat-form-field appearance="fill" fxFlex="25"
            [class.mat-form-field-invalid]="hasErrors && editEmployeeForm.get('identificationType')?.invalid">
            <mat-label>Tipo Identificación</mat-label>
            <mat-select formControlName="identificationType" required>
                <mat-option *ngFor="let item of identificationTypes" [value]="item._id">
                    {{ item.description}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" fxFlex="25"
            [class.mat-form-field-invalid]="hasErrors && editEmployeeForm.get('firstName')?.invalid">
            <mat-label>Primer nombre</mat-label>
            <input matInput formControlName="firstName" required>
        </mat-form-field>

        <mat-form-field fxFlex="25">
            <mat-label>Segundo nombre</mat-label>
            <input matInput formControlName="seconName">
        </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutGap="25px">
        <mat-form-field appearance="fill" fxFlex="25"
            [class.mat-form-field-invalid]="hasErrors && editEmployeeForm.get('firstLastname')?.invalid">
            <mat-label>Primer apellido</mat-label>
            <input matInput formControlName="firstLastname" required>
        </mat-form-field>

        <mat-form-field fxFlex="25">
            <mat-label>Segundo apellido</mat-label>
            <input matInput formControlName="seconLastname">
        </mat-form-field>

        <mat-form-field appearance="fill" fxFlex="25"
            [class.mat-form-field-invalid]="hasErrors && editEmployeeForm.get('email')?.invalid">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" required>
        </mat-form-field>

        <mat-form-field appearance="fill" fxFlex="25"
            [class.mat-form-field-invalid]="hasErrors && editEmployeeForm.get('category')?.invalid">
            <mat-label>Categoría</mat-label>
            <mat-select formControlName="category" required>
                <mat-option *ngFor="let item of categoriesList" [value]="item._id">
                    {{ item.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutGap="25px" fxLayoutAlign="end end">
        <button appHttpDisabled mat-raised-button color="primary" type="submit">
            Aceptar
        </button>

        <button appHttpDisabled mat-raised-button type="button" [mat-dialog-close]="false">
            Cerrar
        </button>
    </div>
</form>