<form [formGroup]="editEmployeeForm" (ngSubmit)="saveEmployee()">
    <div fxLayout="row" fxLayoutGap="25px">
        <mat-form-field fxFlex="25">
            <mat-label>Número identificación</mat-label>
            <input matInput formControlName="identificationNumber" required>
        </mat-form-field>

        <mat-form-field fxFlex="25">
            <mat-label>Tipo Identificación</mat-label>
            <mat-select formControlName="identificationType" required>
                <mat-option value="CC">Cédula de ciudadanía</mat-option>
                <mat-option value="CE">Cédula extrangera</mat-option>
                <mat-option value="LC">Licencia de conducción</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field fxFlex="25">
            <mat-label>Primer nombre</mat-label>
            <input matInput formControlName="firstName" required>
        </mat-form-field>

        <mat-form-field fxFlex="25">
            <mat-label>Segundo nombre</mat-label>
            <input matInput formControlName="seconName">
        </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutGap="25px">
        <mat-form-field fxFlex="25">
            <mat-label>Primer apellido</mat-label>
            <input matInput formControlName="firstLastname" required>
        </mat-form-field>

        <mat-form-field fxFlex="25">
            <mat-label>Segundo apellido</mat-label>
            <input matInput formControlName="seconLastname">
        </mat-form-field>

        <mat-form-field fxFlex="25">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" required>
        </mat-form-field>

        <mat-form-field fxFlex="25">
            <mat-label>Categoría</mat-label>
            <mat-select formControlName="category" required>
                <mat-option value="VENTAS">Ventas</mat-option>
                <mat-option value="ASEO">Aseo</mat-option>
                <mat-option value="ADMIN">Administración</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutGap="25px" fxLayoutAlign="end end">
        <button appHttpDisabled mat-raised-button color="primary" type="submit">
            Aceptar
        </button>

        <button appHttpDisabled mat-raised-button type="button" [mat-dialog-close]="false">
            Cerrar
        </button>
    </div>
</form>